/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-markdown-editor";
 @import "font-awesome";
 
/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
.blog-footer a,
.blog-footer a:hover,
.blog-footer a:focus {
    color: #999;
    background-color: transparent;
}

/*
 * Masthead for nav
 */

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
            box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}
  
/* Nav links */
.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: transparent;
}
  
/* Active state gets a caret at the bottom */
.nav-link.active {
    color: #fff;
}
.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}
  
  
/*
* Blog name and description
*/
.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}
.blog-title {
    margin-bottom: 0;
    // font-size: 2rem;
    font-weight: normal;
}
.blog-description {
    // font-size: 1.1rem;
    color: #999;
}

/**
* Scrolling button
*/
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(104, 104, 104); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}